.authorizationContainer{
    width: 50%;
    height: fit-content;
    padding: 30px;  
    margin: 25vh auto;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.authBox {
    margin-top: 30px;
    margin-bottom: 30px;
}

.authBottomButtons{
    display: flex;
    max-width: 70%;
    flex-flow: column;
    margin: 0px auto;
}

.authBottomButtons button{
    margin-bottom: 10px;
}